.home-page__footer {
  min-height: var(--nav-height);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  background-color: var(--primary-dark);
  color: white;
  font-size: small;
  margin-top: auto;
}
