.home-page__nav {
  display: flex;
  height: var(--nav-height);
  gap: 16px;
  justify-content: center;
  position: relative;
  align-items: center;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 99;
  background-color: white;
  padding: var(--page-padding);
}

.home-page__nav__link {
  color: black;
  padding: 8px;
  text-decoration: none;
  font-family: var(--secondary-font);
}

.home-page__nav__link:not(:last-of-type) {
  display: flex;
  flex-flow: column;
}

.home-page__nav__link:not(:last-of-type).active::after {
  width: 100%;
}

.home-page__nav__link:not(:last-of-type)::after {
  content: "";
  width: 0%;
  height: 4px;
  background-color: var(--primary-color);
  transition: all 300ms;
  border-radius: 0 0 2px 2px;
}

.home-page__nav__link:not(:last-of-type):hover::after {
  width: 100%;
}

.home-page__nav__link:last-of-type {
  right: var(--page-padding);
  position: absolute;
  color: white;
}

@media (max-width: 768px) {
  .home-page__nav__link:last-of-type {
    display: none;
  }
}