@import url("./style.css");

.submitted__card {
    width: 90%;
    max-width: 400px;
    height: auto;
    background-color: white;
    padding: 64px;
    border-radius: 20px;
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 24px;
    position: relative;
    z-index: 1;
}