.error-page {
  display: flex;
  flex-flow: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
  min-height: inherit;
}

.error-page a {
  text-decoration: none;
  color: var(--primary-color);
  border-bottom: solid 3px white;
  transition: all 100ms;
}

.error-page a:hover {
  border-bottom: solid 3px var(--primary-color);
}
